.background-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/background-1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.masonry {
    column-count: 1;
    column-gap: 1rem;
}

.masonry-item {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
}

@media (min-width: 600px) {
    .masonry {
        column-count: 2;
    }
}

@media (min-width: 900px) {
    .masonry {
        column-count: 3;
    }
}
